.row{
    width: 100%;  
    height: 600px;
    background-color:transparent;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.col{
    width: 250px;
    height: 200px;
    border: black 2px solid;
    background-color:transparent;
}
#img1{
    width: 100%;
    height: 150px;
    border-radius: 50px
}
@import url('https://fonts.googleapis.com/css2?family=Pushster&family=Roboto+Mono&display=swap');
h3{
    color: white;
    text-align: center;
    font-family: 'Pushster', cursive;
}
@import url('https://fonts.googleapis.com/css2?family=Pushster&family=Roboto+Mono&display=swap');
h4{
    color: white;
    font-family: 'Pushster', cursive;
}
@import url('https://fonts.googleapis.com/css2?family=Pushster&family=Roboto+Mono&display=swap');
p{
    color: white;
    font-family: 'Pushster', cursive;
}
